// output: three-column-layout.html
doctype html
html(lang="en")
  head
    title pageTitle
    link(rel="stylesheet" href='three-column-layout.css')
  body
    h1 CSS FlexBox Practical Examples
    
    .example
      h2 3 Column Layout
      
      .example-page.example-layout
        header header
        .body
          .col-1 Main Content
          .col-2 Navigation
          .col-3 Sidebar
        footer footer
      
    br
    br
    
    .example
      h2 Media Object
      
      .example-page.example-media
        .media
          img(src="https://www.fillmurray.com/50/50")
          .content lorean impusum lkasopk quito, adviced urryied longinue.
        hr
        .search-group
          input(type="text" placeholder="search")
          input(type="submit")
